<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
    <h1>Hey guys</h1>
    <%= message %>
    <h1>Added folder views into src</h1>
</body>
</html>
